@using ArtGallery.Web.ViewModels.Events
@model EventViewModel
@{
    ViewData["Title"] = "Event Details";
}

@* Name, Price, Date, Type, TicketSelection, Description *@

<div class="row">
    <div class="col-8">
            <div class="card-img-overlay d-flex flex-column justify-content-end">
                <h5 class="card-title text-primary text-white" asp-area="" asp-controller="Event"  asp-action="SingleEventDetails" asp-route-id="EventId">@Model.Name</h5>
                <div class="card-text text-white pb-2 pt-1" asp-area="" asp-controller="Event"  asp-action="SingleEventDetails" asp-route-id="EventId">@Model.Price</div>
                <div href="#" class="text-white" asp-area="" asp-controller="Event"  asp-action="SingleEventDetails" asp-route-id="EventId">@Model.Date</div>
                <div class="card-text text-white pb-2 pt-1" asp-area="" asp-controller="Event"  asp-action="SingleEventDetails" asp-route-id="EventId">@Model.Type</div>
                <div href="#" class="text-white" asp-area="" asp-controller="Event"  asp-action="SingleEventDetails" asp-route-id="EventId">@Model.TicketSelection</div>
                <div class="card-text text-white">
                       @Model.Description
                </div>
           </div>
        <a id="back-to-top" href="#" class="btn btn-primary back-to-top" role="button" aria-label="Scroll to top">
           <i class="fas fa-chevron-up"></i>
       </a>
    </div>
</div>
