@using ArtGallery.Web.ViewModels.Home
@model IndexViewModel
@{
    ViewData["Title"] = "Home";
    List<UpcomingEventViewModel> events = ViewBag.AllUpcomingEvents;
    List<LatestBlogPostViewModel> blogs = ViewBag.AllLatestBlogPost;
}

<div class="text-center">
    <div class="content">
        <div class="container-fluid">
             <div class="row">
                      <div class="col-lg-6">
                         @foreach (var upcomingEvent in events)
                         {
                            <div class="card  card-primary card-outline">
                              <div class="card-body">
                                <h5 class="card-title">Upcoming Event: @upcomingEvent.Name</h5>
                                <span class="start-date">@upcomingEvent.Date</span>
                                <p calss="class-text">@upcomingEvent.Type</p>
                                <p class="card-text">
                                  @upcomingEvent.ShortDescription
                                </p>
                           
                                <a href="#" class="card-link">Go Event Details</a>
                              </div>
                            </div>
                         }
                         <!-- /.card -->
                      </div>
                      <!-- /.col-md-6 -->
                      <div class="col-lg-6">
                        @foreach (var latestBlog in blogs)
                        {
                            <div class="card  card-primary card-outline">
                              <div class="card-header">
                                   <h5 class="m-0">@latestBlog.Title</h5>
                              </div>
                               <div class="card-body">
                                   <h6 class="card-title">@latestBlog.Author</h6>
                                   <img src="" alt="" />
                                   <p class="card-text">@latestBlog.ShortContect</p>
                                   <a href="#" class="btn btn-primary">Blog Post Details</a>
                              </div>
                           </div>
                        }
                      </div>
                      <!-- /.col-md-6 -->
              </div>
             <!-- /.row -->
       </div><!-- /.container-fluid -->
       <a id="back-to-top" href="#" class="btn btn-primary back-to-top" role="button" aria-label="Scroll to top">
           <i class="fas fa-chevron-up"></i>
       </a>
   </div>
   <!-- /.content -->      
</div>
