@using ArtGallery.Core.Models.Users
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model IEnumerable<UserListViewModel>
@{
    Layout = "/Areas/Administration/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-md-6">
        <h2>Manage Users</h2>
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Application Users</h3>
            </div>

            <!-- /.card-header -->
            <div class="card-body">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>User</th>
                        <th style="width: 40px">UserName</th>
                        <th>Email</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var user in ViewBag.manageUsers)
                    {
                        <tr>
                            <td>@user.Name</td>
                            <td><span class="badge bg-danger">@user.UserName</span></td>
                            <td>@user.Email</td>
                            <td>
                               <div class="col-auto">
                               <!--   <a asp-area="Administration" asp-action="Edit" asp-controller="User" asp-route-id="@user.Id" class="btn btn-block btn-outline-success btn-sm">
                                            <i class="fas fa-edit"></i> Edit
                                   </a>
                                   <a asp-area="Administration" asp-action="Roles" asp-controller="User" asp-route-id="@user.Id" class="btn btn-block btn-outline-success btn-sm">Roles</a> -->
                               </div>  
                            </td>  
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
            <div class="card-footer clearfix">
                <ul class="pagination pagination-sm m-0 float-right">
                    <li class="page-item"><a class="page-link" href="#">&raquo;</a></li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">&raquo;</a></li>
                </ul>
            </div>
            <a id="back-to-top" href="#" class="btn btn-primary back-to-top" role="button" aria-label="Scroll to top">
                <i class="fas fa-chevron-up"></i>
            </a>
        </div>
    </div>
</div>